<div class="row">
  <div class="medium-6 small-12 columns">
    <div class="text-center" id="cal-connect-btn">
      <%= link_to "Connect Calendar", "/auth/cronofy", class: :button %>
    </div>
  </div>
</div>
